@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/font/merriweather-v15-latin-regular.woff2') format('woff2'), 
       url('/font/merriweather-v15-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('/font/merriweather-v15-latin-italic.woff2') format('woff2'), 
       url('/font/merriweather-v15-latin-italic.woff') format('woff'); 
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  src: url('/font/merriweather-v15-latin-bold.woff2') format('woff2'), 
       url('/font/merriweather-v15-latin-bold.woff') format('woff'); 
}

@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 700;
  src: url('/font/merriweather-v15-latin-bolditalic.woff2') format('woff2'),
       url('/font/merriweather-v15-latin-bolditalic.woff') format('woff'); 
}

@font-face {
  font-family: 'Input Mono';
  src: url('/font/InputMonoCompressed-ExtraLight.woff2') format('woff2'),
       url('/font/InputMonoCompressed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/font/InputMonoCompressed-Regular.woff2') format('woff2'),
       url('/font/InputMonoCompressed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/font/InputMonoCompressed-Italic.woff2') format('woff2'),
       url('/font/InputMonoCompressed-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/font/InputMonoCompressed-Bold.woff2') format('woff2'),
       url('/font/InputMonoCompressed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Input Mono';
  src: url('/font/InputMonoCompressed-BoldItalic.woff2') format('woff2'),
       url('/font/InputMonoCompressed-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Input Sans';
  src: url('/font/InputSansCompressed-ExtraLight.woff2') format('woff2'),
       url('/font/InputSansCompressed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Input Sans';
  src: url('/font/InputSansCompressed-Regular.woff2') format('woff2'),
       url('/font/InputSansCompressed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Input Sans';
  src: url('/font/InputSansCompressed-Italic.woff2') format('woff2'),
       url('/font/InputSansCompressed-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
  margin-bottom: 2.0rem;
}

body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  background-color: #FCFCFC;
}

pre, code {
  font-family: "Input Mono", monospace;
  font-weight: 400;
  font-size: 100%;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
}

pre > code {
  line-height: 1.5;
}

code {
  padding-top: 0;
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

blockquote {
  margin: 2rem 0;
  padding: 1.2rem 1rem 1.2rem 2rem;
  background: #ECEFF1;
  border-left: 8px solid #90A4AE;
}
blockquote > p {
  margin: 1rem 0;
}
blockquote ul, blockquote ol {
  margin-bottom: inherit;
}

td, th {
  padding: 0.5rem 1.2rem;
}

th {
  vertical-align: bottom;
}

a {
  color: #303F9F;
}

a:hover {
  color: #7986CB;
}

h1, h2, h3 {
  font-family: 'Input Sans', sans-serif;
  font-weight: 200;
  letter-spacing: -0.12rem;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
}

h1 { 
  font-size: 2.75rem; 
  margin-bottom: 1rem;
}
h2 { 
  font-size: 2.25rem; 
  margin-bottom: 0.75rem;
  color: #455A64;
}
h3 { 
  font-size: 1.75rem; 
  margin-bottom: 0.5rem;
  color: #455A64;
}

h1 > code, h2 > code, h3 > code {
  font-weight: 200;
}

strong, b {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);;
}

figcaption p {
  margin-top: 1.0rem;
  font-family: 'Input Sans', sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
}

header, footer {
  margin: 3rem 0;
  text-align: left;
  font-family: 'Input Sans', sans-serif;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
  font-size: 1.6rem;
  letter-spacing: 0.12rem;
}

footer {
  font-size: 1.2rem;
}

main {
  margin: 3rem 0;
}

ul > li {
  list-style: disc outside;
  margin-bottom: 0;
  margin-top: 0.25rem;
  margin-left: 4.0rem;
}

ol > li {
  list-style: decimal outside;
  margin-top: 0.25rem;
  margin-left: 4.0rem;
}

.container {
  width: 90%;
  max-width: 800px;
}

.header-logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #E1E1E1;
}

.header-logo img:hover {
  border-color: #F1F1F1;
}

.site-title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: 'Input Sans', monospace;
  font-weight: 200;
  font-size: 3.0rem;
  line-height: 1rem;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
}
.site-title a {
  text-decoration: none;
  color: inherit;
}

.site-colophon {
  margin-top: 0;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding-top: 0px;
  padding-left: 4rem;
  font-size 1.8em;
}
.site-colophon a {
  color: inherit;
  text-decoration: none;
}
.site-colophon a:hover {
  text-decoration: underline;
}

.entry-title {
  font-family: 'Input Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

.entry-title a {
  text-decoration: none;
}

.entry-title a:hover {
  text-decoration: underline;
}

.entry-meta {
  display: inline-block;
  margin-bottom: 2rem;
  font-size: 85%;
  letter-spacing: 0.05rem;
  line-height: 1rem;
  color: #888;
  font-family: "Merriweather", monospace;
  font-weight: 400;
  font-feature-settings: "ss11" 1, "ss12" 1, "ss02" 1, "ss03" 1, "ss10" 1, "zero" 1;
}

.entry-meta-main {
  margin-bottom: 0;
}

.entry-description {
  font-style: italic;
  margin-bottom: 3.0rem;
}

.footer-link {
  margin: 2rem 0;
}

.hr {
  height: 1px;
  margin: 1rem 0;
  background: #90A4AE;
}

.footnotes {
  font-size: 90%;
}

.footnotes li {
  margin-left: 2.0rem;
}

header .hr {
 margin-top: 0;
}

