
<footer role="contentinfo">
  <div class="hr"></div>
  <div class="copyright">Copyright &copy; 2017 int08h LLC. Licensed 
      <a href="//creativecommons.org/licenses/by-sa/4.0/legalcode">CC-BY-SA 4.0</a>.
  </div>
</footer>

</div>

<script>
  window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
  ga('create', 'UA-92410918-1', 'auto');
  ga('set', 'transport', 'beacon');
  ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
